.todo-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.todo-controls button:nth-child(odd) {
    background-color: var(--btn-create-bg);
}

.todo-controls button:nth-child(even) {
    background-color: var(--btn-remove-bg);
}

.todo-controls button:hover {
    opacity: 0.9;
}