:root {
    --primary-color: #646cff;
    --accent-color: #61dafb;
    --neutral-dark: #333;
    --neutral-light: #888;
    --success-color: #28a745;
    --error-color: #dc3545;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 8px;
    --background-light: #edf2f7;
    --code-background: #eaeaea;
    --btn-create-bg: #68d391;
    --btn-remove-bg: #fc8181;
    --btn-complete-bg: #4c51bf;
    --todo-info-bg: #f2f2f2;
}

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-light);
    color: var(--neutral-dark);
}

code {
    background-color: var(--code-background);
    padding: 2px 4px;
    border-radius: var(--border-radius);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.read-the-docs {
    color: var(--neutral-light);
}